/bin/
*.bak
.DS_Store
/build/
*.class
/target/
/target/classes/*.*
/target17/
ewa_conf.xml
ewa_console_conf.xml
*.properties
.settings
.vscode
.classpath
*.log
.factorypath
.project
.idea/
.vscode
*.iml
